doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title || "Server Error"
    link(rel="stylesheet", href="/stylesheets/style.css")
  body 
    h1= title || "Server Error"
    p=err.message
    br
    p 
      a.button(href="all_books.html") Home