extends layout

block content
  h1 Update Book
  form(action=`/books/${book.id}` method='POST')
    include form-errors
    include form
  form(action=`/books/${book.id}/delete` method='POST', onsubmit='return confirm("Are you sure you want to delete this book?")')
    p 
      input(type='submit' value='Delete Book')