extends layout

block content
  h1= title
  form(action=`/books/${id}` method='POST')
    include form-errors
    include form
  form(action=`/books/${id}/delete` method='POST', onsubmit='return confirm("Are you sure you want to delete this book?")')
    p 
      input(type='submit' value='Delete Book')